.wrapper
  .image
    .show-serect1
      .serect-btn1
        %ul
          %li
            %a{href: ""} information
          %li
            %a{href: ""} today
          %li
            %a{href: ""} time & news
    .image__name
      %li BAR KOMAZAWA
.aa
.wrapper2
  .wrapper-g
  .wrapper2__into
    .name
      .name__into
        %li BAR
        %li KOMAZAWA
    .menu
      .menu__first
        .menu__first--1
          ①簡単説明aaaaaaaaaaaaaaaaaaaaaaaaaaaa
      .menu__second
        .slide
        .r
          ②説明aaaaaaaaaaaaaaaaaa
          %li aaaaaaaaaaaaaaaaaaaaaaaa
          %li aaaaaaaaaaaaaaaaaaaaaaaa
          %li aaaaaaaaaaaaaaaaaaaaaaaa
          %li aaaaaaaaaaaaaaaaaaaaaaaa
      .menu__into--3
        =link_to "",class: "time-btn" do
          今日の確認