.wrapper
  .image
    .image__name
      = image_tag '/name.png',class:"last"
.wrapper2
  .menu
    .pp
    .top-image
    .top-text
      %li 創業2000年以来、駒沢の閑静な
      %li 　住宅街に佇む隠れ家的バー
    .top-drink
      .left
      .right
    .top-bottom
      more cocktail & whiskey
    .menu__thrid
      .top
        information
      .information
        .information__left
          .day
            .day__left
              closed:
            .plice__right
              水曜日
          .time
            .time__left
              %li open 
              %li close:
            .time__right
              %li 21時〜27時
          .place
            .place__left
              address:
            .plice__right
              東京都世田谷区駒沢５丁目１７−１３
          .tell
            .tell__left
              tel:
            .tell__right
              %a{href: "tel:0337050781",class:"tell2"} 03-3705-0781
      .bottom
        %iframe{allowfullscreen: "",class:"bottom__content", frameborder: "0", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d810.7900680724526!2d139.65491468658405!3d35.62377520063195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f48b5927bd91%3A0xe631c43ed3cd5e37!2sBar%20KOMAZAWA!5e0!3m2!1sja!2sjp!4v1576297597633!5m2!1sja!2sjp", style: "border-radius:30;"}
.footer
  .footer__center
    .footer__center__left
      .xiix
        BAR　KOMAZAWA
      %li 東京都世田谷区駒沢５丁目１７−１３
    .footer__center__right
      %li 定休日 水曜日
      .opentime
        開店時間の確認
      .jus
        %a{href: "tel:08044527045",class:"tell3"} お問合わせ
  .footer__bottom
    2019 © バー駒沢 グループ個人情報保護方針サイトマップ