.wrapper{
  background-color: #333;
  padding-bottom: 60px;
  padding-top: 30px;
  font-family: "Didot LT W02 Roman", Didot, "Hoefler Text", Garamond, "Times New Roman", serif;

  .image{
    height: 700px;
    width: 100vw;
    background-image: url("/店内.jpg");
    background-size: cover;
    position: relative;
    animation: Aa 2s forwards;

    .xx{
      font-family: 'Ludica Sans Unicode';
      
    }


    .show-serect1{
      z-index: 1;
      position: absolute;
    
    
      .serect-btn1{
        height: 80px;
      
        ul {
          display: flex;
          overflow: hidden;
          width: 100vw;
          margin: 0 auto;
    
    
      .aa{
        float: left;
        width: 50%;
        list-style-type: none;
        display: block;
        padding: 20px 0;
        text-align: center;
        text-decoration: none;
        background-color: #333;
        opacity: 0.6;
        color: white;
        font-weight: 200;
        border: 1px solid white;
        font-size: 20px;
        height: 25px;
        
        &:hover {
          background-color: rgb(53, 49, 49);
          opacity: 0.95;
          font-weight: 500;
          color: pink;
          cursor: pointer;

        }
      }
      .bb{
        float: left;
        width: 50%;
        list-style-type: none;
        display: block;
        padding: 20px 0;
        text-align: center;
        text-decoration: none;
        background-color: #333;
        opacity: 0.6;
        color: white;
        font-weight: 200;
        border: 1px solid white;
        font-size: 20px;
        
        &:hover {
          background-color: rgb(53, 49, 49);
          opacity: 0.95;
          font-weight: 500;
          color: pink;
          cursor: pointer;

        }
      }
      .cc{
        float: left;
        width: 33.3333%;
        list-style-type: none;
        display: block;
        padding: 20px 0;
        text-align: center;
        text-decoration: none;
        background-color: #333;
        opacity: 0.6;
        color: white;
        font-weight: 200;
        border: 1px solid white;
        font-size: 20px;
        
        &:hover {
          background-color: rgb(53, 49, 49);
          opacity: 0.95;
          font-weight: 500;
          color: pink;
          cursor: pointer;

        }
      }
      
        }
      }
    }
    &__name{
      list-style: none;
      text-align: center;
      padding-top: 200px;
      font-size: 70px;
      animation: Aa 4s forwards;
      line-height: 200px;

    }
  }
}

.aa{
  height: 0;
  background-color: #333;
}


.wrapper2{
  background-image: url("/big.png");
  font-family: "Didot LT W02 Roman", Didot, "Hoefler Text", Garamond, "Times New Roman", serif;
  position: relative;
  z-index: 98;
  
    
    .name{
      margin: 0 auto;
      padding: 30px 40px 0 40px;
      width: 60%;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.685);
      z-index: 100;


      &__into{
        width: 40%;
        border-bottom: 2px solid rgb(224, 219, 219);
        margin: 0 auto;
        line-height: 50px;
        font-size: 40px;
        text-align: center;
        font-weight: 800;
        list-style: none;
        padding-bottom: 30px;
        padding-top: 50px;
      }
    }
    .menu{
      width: 60%;
      margin: 0 auto;
      padding: 0 40px 30px 40px;
      background-color: rgba(255, 255, 255, 0.685);
      z-index: 100;


      &__first{
        margin: 0 auto;

          &--1{
            display: flex;
            font-size: 25px;
            color: #333;
            margin-left: 30%;
            width: 40%;
            padding: 20px;
          }
        }
          &__second{
            display: flex;
            justify-content: space-between;
            font-size: 35px;
            color: #333;
            word-wrap:break-all;
            overflow: visible;
            margin: 0 auto;
            width: 90%;


            .slide-top{
              margin-top: 20px;
              z-index: 1;
              opacity: 1;
              height: 300px;
              display: block;
              width: 450px;
              background-size: cover;

              .imagemain-a{
                width: 450px;
                height: 300px; 
              }
              .imagemain-b{
                width: 450px;
                height: 300px; 
              }
              .imagemain-c{
                width: 450px;
                height: 300px; 
              }
              .imagemain-d{
                width: 450px;
                height: 300px; 
              }
              .imagemain-e{
                width: 450px;
                height: 300px; 
              }
            }
            .slide-bottom{
              width: 450px;
              height: 60px;
              display: flex;
            }
            .r{
              font-weight: 200;
              list-style: none;
              margin: 40px 0 0 10%;
              font-size: 20px;
              line-height: 1.5;
              color: #333;

            }
          }
          &__thrid{
            text-decoration: none;
            color: #333;
            border-bottom: 1px solid rgb(224, 219, 219);
            border-top: 1px solid rgb(224, 219, 219);
            padding-bottom: 40px;
            width: 90%;
            margin: 60px auto;

            .top{
              font-size: 40px;
              margin: 0px auto 50px;
              border-bottom: 3px solid rgb(224, 219, 219);
              text-align: center;
              width: 40%;
              font-style: italic;
              padding-top: 50px;
            }


            .information{
              height: 440px;
              width: 100%;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              font-style: italic;

              
              &__left{
                width: 85%;
                color: #333;
                margin-left: 20%;

                .now{
                  margin: 0 auto;
                  font-size: 25px;
                  padding-top: 40px;
                  border-bottom: 1px solid rgb(49, 49, 49);
                  

                  .open{
                    color: #e24a4a;
                  }
                  .close{
                    color: #6a73e6;
                  }
                }
                .day{
                  display: flex;
                  font-size: 18px;
                  justify-content: space-between;
                  padding-top: 40px;
                  margin: 0 auto;
                  border-bottom: 1px solid rgb(49, 49, 49);
                  letter-spacing: 10px;
                  font-style: italic;
                  &__left{
                    font-weight: 700;
                  }
                  &__right{
                    font-weight: 100;
                  }

                }

                .time{
                  display: flex;
                  font-size: 18px;
                  justify-content: space-between;
                  padding-top: 40px;
                  margin: 0 auto;
                  border-bottom: 1px solid rgb(49, 49, 49);
                  letter-spacing: 10px;
                  font-style: italic;

                  &__left{
                    font-weight: 700;
                  }
                  &__right{
                    font-weight: 100;
                  }
                }
                .place{
                  display: flex;
                  font-size: 18px;
                  justify-content: space-between;
                  padding-top: 40px;
                  margin: 0 auto;
                  border-bottom: 1px solid rgb(49, 49, 49);

                  &__left{
                    font-weight: 700;
                    font-weight: 700;

                  }
                  .plice__right{
                    font-weight: 100;
                  }
                }

                .tell{
                  display: flex;
                  font-size: 18px;
                  justify-content: space-between;
                  padding-top: 40px;
                  border-bottom: 1px solid rgb(49, 49, 49);
                  font-weight: 700;
                  &__left{
                    font-weight: 700;
                  }

                  &__right{
                    color: #333;

                    .tell2{
                      color: #333;
                      text-decoration: none;

                      &:hover{
                        opacity: 0.5;
                      }
                    }
                  }
                }
              }
              &__right{
                width: 30%;
                margin-top: 50px;

                .open-btn{
                  cursor: pointer;
                  display: block;
                  border-radius: 10px;
                  width: 180px;
                  height: 50px;
                  background-color: rgb(243, 171, 171);
                  color: white;
                  text-align: center;
                  line-height: 50px;
                  font-size: 20px;
                  margin-left: 30px;
                }
                .close-btn{
                  cursor: pointer;
                  display: block;
                  border-radius: 10px;
                  width: 180px;
                  height: 50px;
                  background-color: rgb(171, 232, 243);
                  color: white;
                  text-align: center;
                  line-height: 50px;
                  font-size: 20px;
                  margin: 30px 0 0 30px;
                }
              }
            }
          .bottom{
            width: 80%;
            margin: 0 auto;
            height: 300px;

            .bottom__content{
              width: 622px;
              margin: 0 auto;
              height: 300px;

            }
          }
          .news{
            font-size: 40px;
            margin: 0 auto 50px;
            border-bottom: 3px solid rgb(224, 219, 219);
            text-align: center;
            width: 40%;
            font-style: italic;
            padding-top: 50px;
          }
          .news-content{
            margin: 50px auto 50px;
            width: 43.8%;
            height: 400px;
          }
        }
    }
}

.image__name li {
  text-shadow: 5px 5px 1px #333;
  letter-spacing: 15px;
  font-style: italic;
}
.footer{
  width: 100%;
  height: 350px;
  background-color: #333;
  border-top: 4px solid rgb(70, 31, 16);
  font-family: "Didot LT W02 Roman", Didot, "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  color: rgb(189, 184, 184);



  &__top{
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    margin-top: 30px;
    color: #fff;

    .fa-facebook-square{
      font-size: 50px;
      color:#385185;
      background-color: #fff;
      height: 42px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 10px;
    }
  }
  &__center{
    width: 70%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 40px;

    &__right{

      .opentime{
        cursor: pointer;

        &:hover{
          opacity: 0.4;
        }
      }

      .tell3{
        color: rgb(189, 184, 184);
        text-decoration: none;

        &:hover{
          opacity: 0.4;
        }
      }
    }
  }
  &__bottom{
    width: 50%;
    margin: 0 auto;
    margin-top: 45px;
  }
  
}
@keyframes Aa{
  0%{
    opacity: 0;
    color: #333;;
  }
  100%{
    opacity: 1;
    color: white;
  }
}
.none{
  display: none;
}

@media screen and (max-width: 500px){
  .wrapper{
    height: 40vh;
    width: 100%;
    padding: 0;

    .image{
      width: 100%;
      height: 40vh;

      .show-serect1{
        display: none;
      }
      .image__name{
        font-size: 23px;
        line-height: 30px;
        padding-top: 100px;
        padding-left: 20px;

        .xx{
          font-size: 18px;
        }
        
      }
    }
  }

  .image__name li {
    text-shadow: 2px 2px 1px #333;
    letter-spacing: 8px;
    font-style: italic;
  }
  .aa{
    height: 20px;
  }
  .wrapper2{

    .name{
      margin: 0 auto;
      padding: 0;
      width: 100%;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.685);

      .name__into{
        width: 60%;
        border-bottom: 2px solid rgb(224, 219, 219);
        margin: 0 auto;
        line-height: 30px;
        font-size: 22px;
        text-align: center;
        font-weight: 800;
        list-style: none;
        padding-bottom: 7px;
      }
    }
    .menu{
      width: 100%;
      margin: 0 auto;
      padding: 0;
      background-color: rgba(255, 255, 255, 0.685);
      z-index: 100;

      .menu__first{
        padding: 0;
        margin: 0 auto;

        .menu__first--1{
          padding: 23px 0 0 0 ;
          font-size: 18px;
          line-height: 15px;
          margin-left: 37%;

        }
      }
      .menu__second{
        width: 100%;
        display: block;

        .l{

          .slide-top{
            width: 100%;
          }
        }
        .r{
          width: 68%;
          margin: 45px auto;
          font-size: 19px;
          letter-spacing: 2px;
          margin-bottom: 0;
        }
      }
      .menu__thrid{
        margin: 0px auto;

        .top{
          font-size: 26px;
          margin: 0px auto 0px;

          
        }
        .information{
          height: 320px;
          display: block;

          .information__left{
            width: 100%;
            margin: 0;

            .now{
              padding-top: 25px;
              width: 84%;
              margin: 0 auto;
            }
            .day{
              padding-top: 25px;
              width: 84%;
              margin: 0 auto;
              font-size: 15px;
            }
            .time{
              padding-top: 25px;
              width: 84%;
              margin: 0 auto;
              font-size: 15px; 
            }
            .place{
              padding-top: 25px;
              width: 84%;
              margin: 0 auto;
              font-size: 15px;

              .plice__right{
                font-size: 13px;
              }
            }
            .tell{
              padding-top: 25px;
              width: 84%;
              margin: 0 auto;
              font-size: 15px;
            }
          }
          .information__right{
            margin: 10px 0;
            display: flex;
            width: 100%;

            .open-btn{
              width: 130px;
              height: 40px;
              display: block;
              line-height: 35px;
            }
            .close-btn{
              width: 130px;
              height: 40px;
              display: block;
              line-height: 35px;
              margin: 0 0 0 10px;
            }


          }
        }
        .bottom{
          width: 90%;

          .bottom__content{
            width: 100%;
          }
        }
      }
    }
  }
  .footer{
    font-size: 15px;
    height: 255px;


    .footer__top{
      font-size: 20px;
      margin: 0;

      .footer__top--content{

        .fa-facebook-square{
        background-color: #fff;
        height: 40px;
        }
      }
    }
    .footer__center{
      width: 94%;
      line-height: 30px;
      font-size: 13px;
    }
    .footer__bottom{
      width: 70%;
      margin: 40px auto 0;
      font-size: 10px;
      list-style: none;
    }
  }
}