.wrapper{
  background-color: #333;
  padding-top: 30px;
  font-family: "Didot LT W02 Roman", Didot, "Hoefler Text", Garamond, "Times New Roman", serif;

  .image{
    height: 100vh;
    width: 100vw;
    background-image: url("/top.png");
    background-size: cover;
    position: relative;
    animation: Aa 2s forwards;

  

  &__name{
    list-style: none;
    text-align: center;
    padding-top: 200px;
    font-size: 70px;
    animation: Aa 4s forwards;
    line-height: 200px;
    }
  }
}


.wrapper2{
  background-image: url("/big.png");
  font-family: "Didot LT W02 Roman", Didot, "Hoefler Text", Garamond, "Times New Roman", serif;
  position: relative;
  z-index: 98;
  
    .menu{
      width: 60%;
      margin: 0 auto;
      padding: 20px 40px 30px 40px;
      background-color: rgba(255, 255, 255, 0.685);
      z-index: 100;

      .top-image{
        background-image: url("/棚.jpg");
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: 0 -100px;
      }
      .top-text{
        width: 35%;
        margin: 40px auto;
        color: rgba(51, 51, 51, 0.699);
        height: 100px;
        font-size: 20px;
        list-style: none;
      }
      .top-drink{
        width: 80%;
        margin: 0 auto 30px;
        height: 200px;
        display: flex;
        justify-content: space-between;

        .left{
          height: 200px;
          width: 200px;
          background-image: url("/カクテル.jpg");
          background-size: cover;

        }
        .right{
          height: 200px;
          width: 200px;
          background-image: url("/カクテル2.jpg");
          background-size: cover;

        }
      }
      .top-bottom{
        width: 30%;
        font-size: 19px;
        margin: 0 auto;
        list-style: none;
        color: rgba(51, 51, 51, 0.753);
        margin-left: 74%;

      }
          &__thrid{
            text-decoration: none;
            color: #333;
            border-bottom: 1px solid rgb(224, 219, 219);
            border-top: 1px solid rgb(224, 219, 219);
            padding-bottom: 40px;
            width: 90%;
            margin: 0 auto;

            .top{
              font-size: 40px;
              margin: 0px auto 50px;
              border-bottom: 3px solid rgb(224, 219, 219);
              text-align: center;
              width: 40%;
              font-style: italic;
              padding-top: 50px;
            }


            .information{
              height: 440px;
              width: 100%;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              font-style: italic;

              
              &__left{
                width: 60%;
                color: #333;
                margin-left: 22%;

                .now{
                  margin: 0 auto;
                  font-size: 25px;
                  padding-top: 40px;
                  border-bottom: 1px solid rgb(49, 49, 49);
                  
                }
                .day{
                  display: flex;
                  font-size: 18px;
                  justify-content: space-between;
                  padding-top: 40px;
                  margin: 0 auto;
                  border-bottom: 1px solid rgb(49, 49, 49);
                  letter-spacing: 10px;
                  font-style: italic;

                  &__left{
                    font-weight: 700;
                    letter-spacing: 10px;
                    text-shadow: 0.6px 0.6px 0.6px #333;

                  }
                  &__right{
                    font-weight: 100;
                    opacity: 0.9;
                  }

                }

                .time{
                  display: flex;
                  font-size: 18px;
                  justify-content: space-between;
                  padding-top: 40px;
                  margin: 0 auto;
                  border-bottom: 1px solid rgb(49, 49, 49);
                  letter-spacing: 10px;
                  font-style: italic;
                  list-style: none;



                  &__left{
                    font-weight: 700;
                    font-size: 20px;
                    letter-spacing: 10px;
                    text-shadow: 0.6px 0.6px 0.6px #333;


                  }
                  &__right{
                    font-weight: 100;
                    opacity: 0.9;
                  }
                }
                .place{
                  display: flex;
                  font-size: 18px;
                  justify-content: space-between;
                  padding-top: 40px;
                  margin: 0 auto;
                  border-bottom: 1px solid rgb(49, 49, 49);

                  &__left{
                    font-weight: 700;
                    font-weight: 700;
                    font-size: 20px;
                    letter-spacing: 10px;
                    text-shadow: 0.6px 0.6px 0.6px #333;


                  }
                  .plice__right{
                    font-weight: 100;
                    opacity: 0.9;
                  }
                }

                .tell{
                  display: flex;
                  font-size: 18px;
                  justify-content: space-between;
                  padding-top: 40px;
                  border-bottom: 1px solid rgb(49, 49, 49);
                  &__left{
                    font-weight: 700;
                    font-size: 20px;
                    letter-spacing: 10px;
                    text-shadow: 0.6px 0.6px 0.6px #333;

                  }

                  &__right{
                    color: #333;
                    opacity: 0.9;

                    .tell2{
                      color: #333;
                      text-decoration: none;
                      opacity: 0.9;

                      &:hover{
                        opacity: 0.5;
                      }
                    }
                  }
                }
              }
              &__right{
                width: 30%;
                margin-top: 50px;

                .open-btn{
                  cursor: pointer;
                  display: block;
                  border-radius: 10px;
                  width: 180px;
                  height: 50px;
                  background-color: rgb(243, 171, 171);
                  color: white;
                  text-align: center;
                  line-height: 50px;
                  font-size: 20px;
                  margin-left: 30px;
                }
                .close-btn{
                  cursor: pointer;
                  display: block;
                  border-radius: 10px;
                  width: 180px;
                  height: 50px;
                  background-color: rgb(171, 232, 243);
                  color: white;
                  text-align: center;
                  line-height: 50px;
                  font-size: 20px;
                  margin: 30px 0 0 30px;
                }
              }
            }
          .bottom{
            width: 80%;
            margin: 0 auto;
            height: 300px;

            .bottom__content{
              width: 622px;
              margin: 0 auto;
              height: 300px;

            }
          }
          .news{
            font-size: 40px;
            margin: 0 auto 50px;
            border-bottom: 3px solid rgb(224, 219, 219);
            text-align: center;
            width: 40%;
            font-style: italic;
            padding-top: 50px;
          }
          .news-content{
            margin: 50px auto 50px;
            width: 43.8%;
            height: 400px;
          }
        }
    }
}

.image__name li {
  text-shadow: 5px 5px 1px #333;
  letter-spacing: 15px;
  font-style: italic;
}
.footer{
  width: 100%;
  height: 200px;
  background-color: #333;
  border-top: 4px solid rgb(70, 31, 16);
  font-family: "Didot LT W02 Roman", Didot, "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  color: rgb(189, 184, 184);



   &__center{
    width: 70%;
    margin: 30px auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 40px;

    .xiix{
      color: rgb(189, 184, 184);
      text-decoration: none;
      cursor: text;
    }

    &__right{

      .opentime{
        cursor: pointer;

        &:hover{
          opacity: 0.4;
        }
      }

      .tell3{
        color: rgb(189, 184, 184);
        text-decoration: none;

        &:hover{
          opacity: 0.4;
        }
      }
    }
  }
  &__bottom{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 12px;
    opacity: 0.7;
  }
  
}
@keyframes Aa{
  0%{
    opacity: 0;
    color: #333;;
  }
  100%{
    opacity: 1;
    color: white;
  }
}
.none{
  display: none;
}

@media screen and (max-width: 500px){
  .wrapper{
    height: 40vh;
    width: 100%;
    padding: 0;

    .image{
      width: 100%;
      height: 40vh;

      .image__name{
        font-size: 20px;
        line-height: 30px;
        padding-top: 120px;
        padding-left: 20px;

        .xx{
          font-size: 18px;
        }
        .last{
          font-size: 12px;
        }
        
      }

    }
  }
  .wrapper2{

    .menu{
      width: 100%;
      margin: 0 auto;
      padding: 0;
      background-color: rgba(255, 255, 255, 0.685);
      z-index: 100;

      .pp{
        height: 10px;
        z-index:99; 
      }

      .top-image{
        width: 90%;
        height: 100px;
        background-size: cover;
        background-position: 0 -100px;
        margin: 10px auto;
      }
      .top-text{
        width: 46%;
        margin: 30px auto 0;
        color: rgba(51, 51, 51, 0.699);
        height: 50px;
        font-size: 12px;
        list-style: none;
        line-height: 30px;
      }
      .top-drink{
        width: 80%;
        margin: 20px auto 30px;
        height: 100px;
        display: flex;
        justify-content: space-between;

        .left{
          height: 100px;
          width: 100px;
          background-image: url("/カクテル.jpg");
          background-size: cover;
          border-radius: 4px;

        }
        .right{
          height: 100px;
          width: 100px;
          background-image: url("/カクテル2.jpg");
          background-size: cover;
          border-radius: 4px;
      }
    }
    .top-bottom{
      width: 40%;
      font-size: 11px;
      color: rgba(51, 51, 51, 0.753);
      margin-left: 60%;
  }

      .menu__first{
        padding: 0;
        margin: 0 auto;

        .menu__first--1{
          padding: 23px 0 0 0 ;
          font-size: 18px;
          line-height: 15px;
          margin-left: 37%;

        }
      }
      .menu__second{
        width: 100%;
        display: block;

        .l{

          .slide-top{
            width: 100%;
          }
        }
        .r{
          width: 68%;
          margin: 80px auto;
          font-size: 19px;
          letter-spacing: 2px;
          margin-bottom: 20px;
        }
      }
      .menu__thrid{
        margin: 0px auto;

        .top{
          font-size: 20px;
          margin: 0px auto 0px;

          
        }
        .information{
          height: 230px;
          display: block;

          .information__left{
            width: 100%;
            margin: 0;
            font-size: 13px;

            .day{
              padding-top: 25px;
              width: 80%;
              margin: 0 auto;
              font-size: 11px;

              .day__left{
                text-shadow: 0.2px 0.2px 0.2px #333;
              }
              

            }
            .time{
              padding-top: 25px;
              width: 80%;
              margin: 0 auto;
              font-size: 11px; 

              .time__left{
                font-size: 11px;
                text-shadow: 0.2px 0.2px 0.2px #333;
              }
              .time__right{
              
              }
            }
            .place{
              padding-top: 25px;
              width: 84%;
              margin: 0 auto;
              font-size: 11px;


              .place__left{
                font-size: 11px;
                letter-spacing: 5px;
                text-shadow: 0.2px 0.2px 0.2px #333;

              }

              .plice__right{
                font-size: 7px;
              }
            }
            .tell{
              padding-top: 25px;
              width: 84%;
              margin: 0 auto;
              font-size: 15px;

              .tell__left{
                font-size: 13px;
                letter-spacing: 5px;
                text-shadow: 0.2px 0.2px 0.2px #333;
              }
            }
          }
          .information__right{
            margin: 0 0 ;
            display: flex;
            width: 100%;

            .open-btn{
              width: 130px;
              height: 40px;
              display: block;
              line-height: 35px;
            }
            .close-btn{
              width: 130px;
              height: 40px;
              display: block;
              line-height: 35px;
              margin: 0 0 0 10px;
            }


          }
        }
        .bottom{
          width: 90%;

          .bottom__content{
            width: 100%;
          }
        }
      }
    }
  }
  .footer{
    font-size: 15px;
    height: 200px;


    .footer__top{
      font-size: 20px;
      margin: 0;

      .footer__top--content{

        .fa-facebook-square{
        background-color: #fff;
        height: 40px;
        }
      }
    }
    .footer__center{
      width: 94%;
      line-height: 30px;
      font-size: 13px;
    }
    .footer__bottom{
      width: 70%;
      margin: 40px auto 0;
      font-size: 10px;
      list-style: none;
    }
  }
}